<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>

<ul>
  <% @pictures_created_in_year.each do |picture| %>
    <li><%= picture.title %></li>, <%= picture.year  %></p>
  <% end %>
</ul>

1-6, 14, 18-21
Active Record Query Interface

Active Record Basics
